*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    --black: #1a1a1a;
    --white: #fbf7f4;
    --green: #50826e;
    --light-green: #96beb4;
    --dark-green: #285046;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    position: relative;
    color: var(--black);
    background-color: var(--white);
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body.dark{
    color: var(--white);
    background-color: var(--black);
}

h1, h2, h3{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
}

h1, h3{
    font-size: 1.5rem;
    line-height: 2.25rem;
}

h2{
    font-size: 1rem;
    line-height: 1.62rem;
}

p{
    font-size: 1rem;
    line-height: 1.62rem;
}

.text-small{font-size: 0.875rem; line-height: 1.42rem;}
.text-regular{font-size: 1rem; line-height: 1.62rem;}
.text-medium{font-size: 1.25rem; line-height: 1.875rem;}
.text-large{font-size: 1.5rem; line-height: 2.25rem;}

.text-right{text-align: right;}
.text-center{text-align: center;}

.font-light{font-weight: 300;}
.font-regular{font-weight: 400;}
.font-medium{font-weight: 500;}
.font-semibold{font-weight: 600;}
.font-bold{font-weight: 700;}

.font-italic{font-style: italic;}

.type-jost{font-family: "Jost", sans-serif;}
.type-space{font-family: "Space Grotesk", sans-serif;}

.wrapper{
    position: relative;
    max-width: 100vw;
    min-width: 100vw;
    width: 100vw;
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
}

.home .wrapper{
    position: fixed;
    background-image: url(../img/background-light.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home.dark .wrapper{background-image: url(../img/background.png);}

section{
    max-width: 1024px;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    align-items: start;
    scroll-margin-top: 120px;
}

section.extended{
    max-width: 100vw;
    min-width: 100vw;
    justify-self: stretch;
}

.coloured-section{
    padding-top: 40px;
    padding-bottom: 40px;
}

.extended-content{
    max-width: 1024px;
}

a{
    width: fit-content;
    text-decoration: none;
    color: var(--black);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover{
    text-decoration: underline;
    color: var(--dark-green);
}

a.link{text-decoration: underline;}

a.link:hover{text-decoration: none;}

.dark a{color: var(--white);}

.dark a:hover{color: var(--light-green);}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    background-color: rgba(251, 247, 244, 0.2);
    backdrop-filter: blur(10px);
}

.dark header{background-color: rgba(26, 26, 26, 0.2);}

header .grid{
    max-width: 1024px;
    margin: 0 20px;
}

header a{
    padding: 1rem 0;
}

header nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column: span 2;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

#nav-trigger{
    place-self: start end;
    padding: 1rem 0;
    cursor: pointer;
}

.hide-nav{
    position: absolute;
    right: 20px;
    -webkit-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    transform: translateY(-500px);
}

.logo{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.logo p{
    font-size: 1.125rem;
}

svg{fill: var(--dark-green);}
.dark svg {fill: var(--light-green);}

img{
    width: 100%;
    border-radius: 2px;
    object-fit: cover;    
     /* Code from https://key2blogging.com/how-to-disable-download-of-images-in-website/ */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
    /* End of code from key2blogging.com */
}

img.wide{border-radius: 0;}

video{border-radius: 2px;}

footer{
    width: 100%;
    max-width: 1024px;
    margin-top: 2.5rem;
    padding: 2.5rem 0;
}

.page-nav-container{
    position: fixed;
    bottom: 3vh;
    width: 100vw;
    z-index: 10;
}

.page-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    background-color: #e2e9e4cc;
    border-radius: 1rem;
    box-shadow: 0 4px 4px rgba(26, 26, 26, 0.2);
    backdrop-filter: blur(5px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.page-nav li{
    list-style: none;
}

.nav-link-active{
    font-weight: 600;
    color: var(--green);
}

/* Code from https://www.w3schools.com/howto/howto_js_scroll_indicator.asp */
.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 0.25rem;
    background: var(--light-green);
}
.progress-bar {
    height: 0.25rem;
    background: var(--green);
    width: 0%;
}
/* End of code from https://www.w3schools.com/howto/howto_js_scroll_indicator.asp */


.grid{
    display: grid;
    column-gap: 1rem;
    align-content: start;
}

.row-gap-8{row-gap: 0.5rem;}
.row-gap-16{row-gap: 1rem;}
.row-gap-24{row-gap: 1.5rem;}
.row-gap-32{row-gap: 2rem;}
.row-gap-40{row-gap: 2.5rem;}
.row-gap-80{row-gap: 5rem;}
.row-gap-120{row-gap: 7.5rem;}
.row-gap-160{row-gap: 10rem;}

.flex{
    display: flex;
}

.content-flex{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.content-flex p{
    margin-top: 0.5rem;
}

#summary .content-flex p{
    margin-top: 0;
}

.contacts{
    flex-direction: column;
}

#landing .contacts{
    row-gap: 0.25rem;
}

.contact{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

#landing .contact{
    gap: 0.375rem;
}

.project{
    cursor: pointer;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    transition: all 0.3s ease;
}

.project .title{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
}

.project img{
    box-shadow: 2px 2px 4px rgba(26, 26, 26, 0.2);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.project:hover {
    text-decoration: none;
    color: var(--black);
}

.dark .project:hover {
    color: var(--white);
}

.project:hover img{
    scale: 98%;
    box-shadow: none;
}

.project:hover .title{
    text-decoration: underline;
    color: var(--dark-green);
}

.dark .project:hover .title{
    color: var(--light-green);
}

.project:hover .subtitle{
    color: var(--black);
}

.dark .project:hover .subtitle{
    color: var(--white);
}

.projects:has(.project:hover) .project:not(:hover){
    filter: blur(3px);
}

.incomplete{
    cursor: initial;
}

#sandbox{
    grid-gap: 0.75rem;
}

#sandbox .project{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
}

#sandbox .project a{
    display: block;
    width: 100%;
    height: 100%;
}

.complete:hover{
    scale: 98%;
}

.bento-square{
    aspect-ratio: 1/1;
}

.bento-rect{
    aspect-ratio: 3/2;
}

.labels{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

#landing .labels{
    padding-top: 0;
}

.label{
    color: var(--black);
    font-family: "Space Grotesk", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label.prototype{background-color: #CAE1E3;}
.label.ux{background-color: #E4D1F4;}
.label.frontend{background-color: #CEE2D3;}
.label.visual{background-color: #F9ECC9;}
.label.system{background-color: #FAD6C5;}
.label.theme{background-color: #C9DBD4;}


.timeline{
    grid-row-gap: 40px;
    position: relative;
}

.timepoint{
    grid-column: 1/2;
    margin-left: 2rem;
}

.timedot{
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    border: 2px solid var(--black);
    background-color: var(--white);
    margin-top: 2px;
    grid-column: 1/2;
    place-self: start start;
}

.dark .timedot{
    border: 2px solid var(--white);
    background-color: var(--black);
}

.line{
    border-left: 2px solid var(--black);
    height: 100%;
    grid-area: 1/1/10/2;
    margin-left: 7px;
    z-index: -1;
}

.dark .line{
    border-left: 2px solid var(--white);
}

.timeline .text-small {
    font-weight: 300;
}


.mode-indicator{
    font-size: 1.125rem;
    color: var(--dark-green);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 1;
}

.dark .mode-indicator{
    color: var(--light-green);
}

.inactive-mode{
    opacity: 0.2;
}

.toggle-wrapper{
    display: flex;
    gap: 1rem;
    place-self: center end;
    align-items: center;
}

.toggle-container{
    display: flex;
    flex-direction: row;
    gap: 0.375rem;
    align-items: center;
}

/* Code from https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 9px;
  background-color: var(--dark-green);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: var(--dark-green);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.dark .slider::before{
    background-color: var(--light-green);
}
#switch-input:checked + .slider {
  background-color: var(--light-green);
}
#switch-input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}
/* End of code from https://www.w3schools.com/howto/howto_css_switch.asp */


.blink{
    color: var(--dark-green);
    animation-name: blinker;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.dark .blink{
    color: var(--light-green);
}

@keyframes blinker{
    30% {opacity: 1;}
    35% {opacity: 0;}
    55% {opacity: 0;}
    60% {opacity: 1;}
}

.colours{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 5rem;
}

.colour{
    padding: 0.25rem 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.colour p{
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.42rem;
}

.link-button{
    padding: 0.5rem 1rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--black);
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dark .link-button{
    border-color: var(--white);
}

.link-button:hover{
    background-color: var(--green);
    color: var(--white);
    border-color: var(--green);
}

.dark .link-button:hover{
    color: var(--white);
}

.link-button .material-icons{
    vertical-align: bottom;
}

header .link-button{
    display: flex;
    gap: 0.25rem;
    padding: 0.125rem 0.5rem;
    margin: 13px 0;
    width: fit-content;
    align-self: end;
    align-items: center;
    border-width: 1px;
}

header .link-button .material-icons{
    font-size: 1.125rem;
}

header .link-button:hover{
    text-decoration: none;
}

.home .link-button:hover{
    text-decoration: none;
}

.buttons{
    display: flex;
    gap: 1rem;
    width: fit-content;
}

mark{
    font-weight: 500; 
    background-color: var(--light-green);
}

.dark mark{
    color: var(--white);
    background-color: var(--dark-green);
}


/* Start of code from https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp */
.slides{
    z-index: 1;
    white-space: nowrap;
    height: 100%;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    overflow: hidden;
}
.slide{
    vertical-align: top;
    white-space: normal;
    text-align: left;
    width: 100%;
    height: 100%;
    position: relative;
}
.next, .prev{
    cursor: pointer;
    z-index: 3;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 0 3px 3px 0;
    color: var(--black) !important;
    background-color: rgba(251, 247, 244, 0.2);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.fade{
    animation-name: fade;
    animation-duration: 0.5s;
}

@keyframes fade{
    from {opacity: 0.5}
    to {opacity: 1}
}

.thumbnails{
    display: grid;
    height: 85%;
    overflow-y: hidden;
}
.thumbnail{
    cursor: pointer;
    opacity: 0.6;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.thumbnail img{
    border-radius: 0;
}
.thumbnail:hover{
    opacity: 1;
}
.active{
    cursor: initial;
    opacity: 1;
}
/* End of code from https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp */


.modal{
    z-index: 10;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(251, 247, 244, 0.9);
}

.dark .modal{
    background-color: rgba(26, 26, 26, 0.9);
}

.modal-content{
    position: relative;
    max-width: 1024px;
    place-self: center;
}

.close-modal{
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    display: inline-block;
    padding: 1rem;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.5rem;
}

.close-overlay{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh;
    z-index: -1;
}

#video-modal{
    display: block;
    margin: 0 auto;
}

.textbox{
    padding: 1.5rem !important;
    border-radius: 0.5rem;
}

.list-bullet{
    list-style-type: disc;
}

.list{
    padding-left: 1rem;
}


/* Mobile only */
@media only screen and (max-width: 767px) {
    .wrapper{
        padding: 0 20px;
    }

    section.extended{
        margin-left: -20px;
        margin-right: -20px;
    }

    .extended-wrapper{
        padding-left: 20px;
        padding-right: 20px;
    }

    #landing{
        margin-top: 0;
        height: 100vh;
        align-content: center;
    }

    #works{
        margin-top: 0;
    }

    .mobile-columns-2{grid-template-columns: repeat(2, 1fr);}
    .mobile-columns-3{grid-template-columns: repeat(3, 1fr);}
    .mobile-columns-4{grid-template-columns: repeat(4, 1fr);}
    
    .mobile-span-2{grid-column: span 2;}
    .mobile-span-3{grid-column: span 3;}
    .mobile-span-4{grid-column: span 4;}

    .mobile-row-2{grid-row: span 2;}
    .mobile-row-3{grid-row: span 3;}
    .mobile-row-4{grid-row: span 4;}

    .row-1{grid-row: 1/2;}
    .row-2{grid-row: 2/3;}

    header nav{
        padding-bottom: 0.5rem;
    }
    
    header nav a{
        width: 100%;
        text-align: right;
    }

    .page-nav-container{
        left: 0;
        padding: 0 32px;
    }

    .page-nav{
        max-width: 100%;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .page-nav li{
        font-size: 0.875rem;
    }

    .timeline{
        padding: 80px 0 0 0;
    }

    .colours{
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }

    .colour{
        height: 5rem;
    }

    .modal{
        padding: 64px 20px;
    }

    .desktop-version{
        display: none;
    }

    .mobile-wide-img{
        margin-left: -20px;
        margin-right: -20px;
        width: 100vw;
        border-radius: 0;
    }

    #sandbox{
        grid-gap: 0.5rem;
    }
}



/* 768px < screen < 1024px */
@media only screen and (min-width: 768px) {
    .wrapper{
        padding: 0 40px;
    }

    section.extended{
        margin-left: -40px;
        margin-right: -40px;
    }

    .extended-wrapper{
        padding-left: 40px;
        padding-right: 40px;
    }

    #landing{
        margin-top: 0;
        height: 75vh;
        align-content: center;
    }

    #works{
        margin-top: 0;
    }

    .grid{column-gap: 1.5rem;}

    .tablet-columns-2{grid-template-columns: repeat(2, 1fr);}
    .tablet-columns-3{grid-template-columns: repeat(3, 1fr);}
    .tablet-columns-4{grid-template-columns: repeat(4, 1fr);}
    .tablet-columns-5{grid-template-columns: repeat(5, 1fr);}
    .tablet-columns-6{grid-template-columns: repeat(6, 1fr);}
    .tablet-columns-10{grid-template-columns: repeat(10, 1fr);}
    .tablet-columns-12{grid-template-columns: repeat(12, 1fr);}

    .tablet-span-2{grid-column: span 2;}
    .tablet-span-3{grid-column: span 3;}
    .tablet-span-4{grid-column: span 4;}
    .tablet-span-5{grid-column: span 5;}
    .tablet-span-6{grid-column: span 6;}
    .tablet-span-7{grid-column: span 7;}
    .tablet-span-8{grid-column: span 8;}
    .tablet-span-12{grid-column: span 12;}

    .tablet-row-2{grid-row: span 2;}
    .tablet-row-3{grid-row: span 3;}
    .tablet-row-4{grid-row: span 4;}
    .tablet-row-5{grid-row: span 5;}
    .tablet-row-6{grid-row: span 6;}

    #landing{
        align-items: center;
    }

    header .grid{
        margin: 0 40px;
    }

    header nav{
        grid-column: 3/4;
        flex-direction: row;
        justify-content: space-between;
    }

    #nav-trigger{
        display: none;
    }

    header .link-button{
        margin: 0;
        align-self: center;
    }

    .page-nav-container{
        left: 0;
        padding: 0 64px;
    }

    .page-nav{
        max-width: 100%;
    }

    .toggle-wrapper{
        padding-right: 1.25rem;
    }

    .timeline{
        margin-left: 2.5rem;
    }

    #about{
        grid-row-gap: 5rem;
    }

    #summary div:nth-child(1){grid-area: 1/1/3/8;}
    #summary div:nth-child(2){grid-area: 1/9/2/13;}
    #summary div:nth-child(3){grid-area: 2/9/3/13;}

    #summary .link-button{grid-area: 3/1/4/8;}

    .modal{
        padding: 64px 40px 40px 40px;
    }

    .mobile-version{
        display: none;
    }

    .tablet-wide-img{
        margin-left: -40px;
        margin-right: -40px;
        width: 100vw;
        border-radius: 0;
    }
}


/* 1024px < screen < 1440px */
@media only screen and (min-width: 1104px) {
    .wrapper{
        padding: 0;
    }
    
    section{
        margin: 120px auto 0 auto;
    }

    footer{
        margin: 2.5rem auto 0 auto;
    }

    section.extended{
        margin: 120px 0 0 0;
    }

    .extended-wrapper{
        padding-left: 0;
        padding-right: 0;
    }
    
    .extended-content{
        margin: 0 auto;
        min-width: 1024px;
        max-width: 1024px;
    }

    .desktop-columns-2{grid-template-columns: repeat(2, 1fr);}
    .desktop-columns-3{grid-template-columns: repeat(3, 1fr);}
    .desktop-columns-4{grid-template-columns: repeat(4, 1fr);}
    .desktop-columns-6{grid-template-columns: repeat(6, 1fr);}
    .desktop-columns-12{grid-template-columns: repeat(12, 1fr);}

    .desktop-span-4{grid-column: span 4;}
    .desktop-span-5{grid-column: span 5;}
    .desktop-span-6{grid-column: span 6;}
    .desktop-span-7{grid-column: span 7;}
    .desktop-span-8{grid-column: span 8;}
    .desktop-span-12{grid-column: span 12;}

    .desktop-row-2{grid-row: span 2;}
    .desktop-row-3{grid-row: span 3;}
    .desktop-row-4{grid-row: span 4;}
    .desktop-row-5{grid-row: span 5;}
    .desktop-row-6{grid-row: span 6;}

    .center-content{grid-column: 2/12;}
    .center-left{grid-column: 2/7;}
    .center-right{grid-column: 7/12;}

    header .grid{
        margin: auto;
    }

    header nav{
        grid-column: 4/5;
    }

    .page-nav-container{
        padding: 0;
    }

    .page-nav{
        padding: 0.5rem 2rem;
        max-width: 944px;
    }

    .toggle-wrapper{
        grid-column: 3/4;
    }

    .timeline{
        margin-left: 5rem;
    }

    .colour{
        padding: 0.5rem 1rem;
    }
    
    .pad-top-40{padding-top: 1.25rem;}

    .modal{
        padding: 40px 0;
    }

    .modal-content{
        margin: 0 auto;
    }

    .tablet-wide-img{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 2px;
    }
}


/* 1920px screen */
@media only screen and (min-width: 1920px) {
    .wrapper{max-width: 1440px;}

    .extended-content{max-width: 1440px;}

    header .grid{max-width: 1440px;}
}
