/* FONTS */
@font-face {
    font-family: "Jost";
    font-style: normal;
    src: url("../files/jost/Jost-VariableFont_wght.woff2");
}

@font-face {
    font-family: "Jost";
    font-style: italic;
    src: url("../files/jost/Jost-Italic-VariableFont_wght.woff2");
}
/* ////////// */

:root{
    /* TYPOGRAPHY */
    --font-sm: 0.84rem; --line-sm: 150%;
    --font-reg: 1.08rem; --line-reg: 160%;
    --font-md: 1.39rem; --line-md: 150%;
    --font-lg: 1.78rem; --line-lg: 145%;

    /* FOUNDATION */
    --black: #1a1a1a; --white: #fbf7f4;
    --black-90: #1a1a1ae6; --white-90: #fbf7f4e6;
    --black-80: #1a1a1acc; --white-80: #fbf7f4cc;
    --black-70: #1a1a1ab3; --white-70: #fbf7f4b3;
    --black-50: #1a1a1a80; --white-50: #fbf7f480;
    --black-30: #1a1a1a4d; --white-30: #fbf7f44d;
    --black-20: #1a1a1a33; --white-20: #fbf7f433;
    --black-10: #1a1a1a1a; --white-10: #fbf7f41a;
    --green: #50826e;
    --green-50: #50826e80;
    --light-green-50: #96beb480;
    --light-green: #96beb4;
    --dark-green: #285046;

    /* LIGHT MODE */
    --light-bg-primary: var(--white);
    --light-text-primary: var(--black);
    --light-text-secondary: var(--black-90);

    /* DARK MODE */
    --dark-bg-primary: var(--black);
    --dark-text-primary: var(--white);
    --dark-text-secondary: var(--white-90);

    /* SPACING */
    --max-width: 1024px;
    --scroll-margin: 120px;
    --margin-top-lg: 120px;
    --margin-top-md: 80px;
    --margin-top-sm: 40px;
    --page-margin: 40px;
    --page-neg-margin: -40px;
    --padding-rg: 20px;

    /* TEXT SPACING */
    --text-space-050: 0.5rem;
    --text-space-100: 1rem;

    /* COLUMN GAP */
    --column-gap-050: 8px;
    --column-gap-075: 12px;
    --column-gap-100: 16px;
    --column-gap-125: 24px;
    --column-gap-200: 32px;
    --column-rg-gap: var(--column-gap-125);

    /* BORDER RADIUS */
    --border-radius-012: 2px;
    --border-radius-025: 4px;
    --border-radius-050: 8px;
    --border-radius-075: 12px;
    --border-radius-100: 16px;

    /* MOBILE ONLY */
    @media only screen and (max-width: 767px) {
        --font-sm: 0.88rem;
        --font-reg: 1.08rem;
        --font-md: 1.32rem;
        --font-lg: 1.62rem;
        --scroll-margin: 80px;
        --page-margin: 20px;
        --page-neg-margin: -20px;
        --column-rg-gap: var(--column-gap-100);
    }
}

